.Background_pagebackground__qdFTJ {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: -1;
  transition: all 1s;
  background-color: #fff;
  opacity: 1;
  background-color: white; /* White background */
  background-image: radial-gradient(circle, #dadada 1px, transparent 1px); /* Gray points */
  background-size: 20px 20px; /* Spacing between points */
}
